.alert {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0.5em 0em;
    position: relative;

    @each $theme, $value in $themes {
        @include alert-variant('&-#{$theme}', $value);
    }

    &-link {
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }

    &-closable {
        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1rem;
            background-color: transparent;
            border: none;
            opacity: 0.5;
            font-weight: 700;
            font-size: 1rem;
        }
    }

    &-fancy {
        @extend .alert;
        background-color: white;
    }

    &-type {
        display: block;
        width: 40px;
        height: 40px;
        margin: -0.5rem 0.5rem -0.5rem -1rem;
        float: left;
        position: relative;
        .circle {
            position: absolute;
            border-radius: 50%;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
            text-align: center;
            vertical-align: middle;
            font-weight: 700;
        }
    }
}
