.alert {
    display: block;
    padding: 12px 24px;
    border-radius: 4px;
    margin: 8px 24px;

    @each $theme, $value in $themes {
        @include alert-variant('&-#{$theme}', $value);
    }
    &-link {
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
}
