.badge {
    border-radius: 0.25rem;
    background-color: $gray-200;
    color: $dark;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-align: center;
    vertical-align: baseline;

    &-pill {
        @extend .badge;
        border-radius: 50%;
        font-size: 0.75rem;
    }
}
