.dropdown {
    position: relative;
    &.show {
        .dropdown-menu {
            display: block;
        }
    }
    &-menu {
        display: none;
        box-shadow: 0 10px 15px -3px adjust-color($dark, $alpha: -0.9),
            0 4px 6px -2px adjust-color($dark, $alpha: -0.9);
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        position: absolute;
        top: 100%;
        left: 0px;
        float: left;
        background-color: $white;
        right: auto;
        bottom: auto;
        z-index: 1;
    }
    &-item {
        display: block;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        position: relative;
        &:hover {
            background-color: $gray-200;
            color: $dark;
        }
    }
    &-hover {
        @extend .dropdown;
        .dropdown-toggle:hover + .dropdown-menu {
            display: block !important;
        }
        .dropdown-menu:hover {
            display: block !important;
        }
    }

    &-divider {
        border: 1px solid $gray-300;
    }
}
