.flexwrap {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &-col {
        @extend .flexwrap;
        flex-direction: column;
        align-items: stretch;
        //margin: 0 24px;
    }

    &-nowrap {
        @extend .flexwrap;
        flex-wrap: nowrap;
    }
}
