.form {
    border: 1px solid $gray-300;
    border-radius: 0.25rem;

    &-group {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;

        &-inline {
            @extend .form-group;
            flex-flow: row wrap;
            align-items: center;

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0.25rem 0.5rem 0.25rem 0;
            }
        }
    }

    &-control {
        display: block;
        flex-grow: 1;

        &-range {
            display: block;
            overflow: visible;
            padding: 0;
            flex-grow: 1;
        }
    }

    &-check {
        @extend .form-group;
        padding-left: 2rem;

        &-label {
            display: inline-block;
        }

        &-input {
            position: absolute;
            margin-top: 0.25rem;
            margin-left: -1rem;
        }
    }
}

select {
    background-color: $white;
}
