@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import 'variables';
@import 'mixins/bg-variant';
@import 'mixins/boxshadow-variant';
@import 'root';

@each $color, $value in $colors {
    @include bg-variant('.bg-#{$color}', $value);
    @include boxshadow-variant('.glow-#{$color}', $value);
}

.text-light {
    color: $light;
    a {
        color: $light;
    }
}

.text-dark {
    color: $dark;
}

$base-font-size: 48px;
$heading-scale: 8;

* {
    border-image-slice: 100%;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: $dark;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: $base-font-size + $heading-scale - (8 * $i);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    margin: 0;
}

a {
    text-decoration: none;
    color: $dark;
    &:hover {
        color: lighten($dark, 40%);
    }
}

button,
input,
optgroup,
select,
textarea {
    border: 1px solid $gray-300;
    border-radius: 4px;
    display: block;
    padding: 12px;

    &:focus {
        border: 1px solid #4a5568;
        border-radius: 4px;
        box-shadow: 0 4px 4px rgba(10, 10, 10, 0.1);
        outline: 0;
    }
}

label {
    font-weight: 700;
    margin-bottom: 8px;
}

hr {
    width: 100%;
    margin: 12px 16px;
}

.flexwrap {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    width: 100%;

    &-col {
        @extend .flexwrap;
        flex-direction: column;
    }

    &-nopad {
        @extend .flexwrap;
        padding: 0;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px adjust-color($dark, $alpha: -0.9),
        0 4px 6px -2px adjust-color($dark, $alpha: -0.9);
    overflow: hidden;
    position: relative;

    &-header {
        align-items: stretch;
        box-shadow: 0 2px 4px adjust-color($dark, $alpha: -0.9);
        display: flex;
        z-index: 1;

        &-title {
            align-items: center;
            flex-grow: 1;
            font-weight: 700;
            margin: 0;
            padding: 12px 16px;
        }

        &-right {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 12px 16px;

            .badge {
                height: 24px;
                width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-media {
        display: block;
        position: relative;
    }

    &-body {
        padding: 16px;

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    &-footer {
        align-items: stretch;
        border-top: 1px solid $gray-300;
        display: flex;

        &-item {
            align-items: center;
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: center;
            padding: 16px;

            &:not(:last-child) {
                border-right: 1px solid $gray-300;
            }
        }
    }
}

.list-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;

    :first-child {
        border-top: 0;
    }

    &-item {
        border-top: 1px solid $gray-300;
        display: flex;
        padding: 16px;
        position: relative;
        align-items: center;

        .badge {
            margin-left: auto;
            margin-top: -8px;
            margin-bottom: -8px;
        }
    }
}

.badge {
    border-radius: 4px;
    background-color: $gray-200;
    color: $dark;
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    vertical-align: baseline;

    &-pill {
        @extend .badge;
        border-radius: 16px;
    }
}

.btn {
    align-items: center;
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: all 0.15s ease-in-out;
    vertical-align: top;
    white-space: nowrap;

    &:hover {
        box-shadow: 0 10px 15px -3px adjust-color($dark, $alpha: -0.9),
            0 4px 6px -2px adjust-color($dark, $alpha: -0.9);
        transition: all 0.15s ease-in-out;
    }

    &-group {
        display: inline-flex;
        position: relative;
        vertical-align: middle;

        .btn {
            position: relative;
            flex: 1 1 auto;
        }

        &-vertical {
            flex-direction: column;

            .btn {
                display: block;
            }

            :not(:first-child) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            :not(:last-child) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                margin-bottom: -1px;
            }
        }

        :not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        :not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -1px;
        }
    }
}
.nav {
    align-items: stretch;
    display: flex;
    position: relative;
    z-index: 30;
    background-color: $white;

    &-brand,
    &-left,
    &-right,
    &-menu {
        align-items: stretch;
        display: flex;
    }

    &-top {
        @extend .nav;
        box-shadow: 0 10px 15px -3px adjust-color($dark, $alpha: -0.9),
            0 4px 6px -2px adjust-color($dark, $alpha: -0.9);
        min-height: 61px;
        padding: 0 8px;
    }

    &-brand {
        flex-shrink: 0;
        font-size: 24px;
        font-weight: 700;
    }

    &-menu {
        flex-grow: 1;
        flex-shrink: 0;
    }

    &-left {
        justify-content: flex-start;
        margin-right: auto;
    }

    &-item {
        align-items: center;
        display: flex;
        cursor: pointer;
        padding: 12px 16px;

        .btn {
            padding: 8px 12px;
        }
    }

    &-end {
        justify-content: flex-end;
        margin-left: auto;
    }
}

.form {
    border: 1px solid $gray-300;
    border-radius: 4px;

    &-group {
        display: flex;
        flex-direction: column;
        padding: 12px 16px;

        &-inline {
            @extend .form-group;
            flex-flow: row wrap;
            align-items: center;

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 4px 8px 4px 0;
            }
        }
    }

    &-control {
        display: block;
        flex-grow: 1;

        &-range {
            display: block;
            overflow: visible;
            padding: 0;
            flex-grow: 1;
        }
    }

    &-check {
        @extend .form-group;
        padding-left: 32px;

        &-label {
            display: inline-block;
        }

        &-input {
            position: absolute;
            margin-top: 5px;
            margin-left: -16px;
        }
    }
}

.fixed {
    &-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}

.mfixed {
    &-top {
        margin-top: 61px;
    }
}

.dropdown {
    &.show {
        .dropdown-menu {
            display: block;
        }
    }
    &-menu {
        display: none;
        box-shadow: 0 10px 15px -3px adjust-color($dark, $alpha: -0.9),
            0 4px 6px -2px adjust-color($dark, $alpha: -0.9);
        border-radius: 4px;
    }
    &-item {
        display: block;
        white-space: nowrap;
        padding: 12px 16px;
        position: relative;
        &:hover {
            background-color: $gray-200;
            color: $dark;
        }
    }
}
