@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
:root {
  --blue: #3498db;
  --indigo: #34495e;
  --purple: #9b59b6;
  --pink: #f08f90;
  --red: #e74c3c;
  --orange: #e67e22;
  --yellow: #f1c40f;
  --green: #2ecc71;
  --teal: #1abc9d;
  --cyan: #20ccde;
  --light: #f8f9fa;
  --dark: #343a40;
}

.bg-blue {
  background-color: #3498db !important;
}

.glow-blue {
  -webkit-box-shadow: 0 10px 15px 2px rgba(52, 152, 219, 0.1), 0 4px 6px -2px rgba(52, 152, 219, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(52, 152, 219, 0.1), 0 4px 6px -2px rgba(52, 152, 219, 0.1) !important;
}

.bg-indigo {
  background-color: #34495e !important;
}

.glow-indigo {
  -webkit-box-shadow: 0 10px 15px 2px rgba(52, 73, 94, 0.1), 0 4px 6px -2px rgba(52, 73, 94, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(52, 73, 94, 0.1), 0 4px 6px -2px rgba(52, 73, 94, 0.1) !important;
}

.bg-purple {
  background-color: #9b59b6 !important;
}

.glow-purple {
  -webkit-box-shadow: 0 10px 15px 2px rgba(155, 89, 182, 0.1), 0 4px 6px -2px rgba(155, 89, 182, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(155, 89, 182, 0.1), 0 4px 6px -2px rgba(155, 89, 182, 0.1) !important;
}

.bg-pink {
  background-color: #f08f90 !important;
}

.glow-pink {
  -webkit-box-shadow: 0 10px 15px 2px rgba(240, 143, 144, 0.1), 0 4px 6px -2px rgba(240, 143, 144, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(240, 143, 144, 0.1), 0 4px 6px -2px rgba(240, 143, 144, 0.1) !important;
}

.bg-red {
  background-color: #e74c3c !important;
}

.glow-red {
  -webkit-box-shadow: 0 10px 15px 2px rgba(231, 76, 60, 0.1), 0 4px 6px -2px rgba(231, 76, 60, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(231, 76, 60, 0.1), 0 4px 6px -2px rgba(231, 76, 60, 0.1) !important;
}

.bg-orange {
  background-color: #e67e22 !important;
}

.glow-orange {
  -webkit-box-shadow: 0 10px 15px 2px rgba(230, 126, 34, 0.1), 0 4px 6px -2px rgba(230, 126, 34, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(230, 126, 34, 0.1), 0 4px 6px -2px rgba(230, 126, 34, 0.1) !important;
}

.bg-yellow {
  background-color: #f1c40f !important;
}

.glow-yellow {
  -webkit-box-shadow: 0 10px 15px 2px rgba(241, 196, 15, 0.1), 0 4px 6px -2px rgba(241, 196, 15, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(241, 196, 15, 0.1), 0 4px 6px -2px rgba(241, 196, 15, 0.1) !important;
}

.bg-green {
  background-color: #2ecc71 !important;
}

.glow-green {
  -webkit-box-shadow: 0 10px 15px 2px rgba(46, 204, 113, 0.1), 0 4px 6px -2px rgba(46, 204, 113, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(46, 204, 113, 0.1), 0 4px 6px -2px rgba(46, 204, 113, 0.1) !important;
}

.bg-teal {
  background-color: #1abc9d !important;
}

.glow-teal {
  -webkit-box-shadow: 0 10px 15px 2px rgba(26, 188, 157, 0.1), 0 4px 6px -2px rgba(26, 188, 157, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(26, 188, 157, 0.1), 0 4px 6px -2px rgba(26, 188, 157, 0.1) !important;
}

.bg-cyan {
  background-color: #20ccde !important;
}

.glow-cyan {
  -webkit-box-shadow: 0 10px 15px 2px rgba(32, 204, 222, 0.1), 0 4px 6px -2px rgba(32, 204, 222, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(32, 204, 222, 0.1), 0 4px 6px -2px rgba(32, 204, 222, 0.1) !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.glow-light {
  -webkit-box-shadow: 0 10px 15px 2px rgba(248, 249, 250, 0.1), 0 4px 6px -2px rgba(248, 249, 250, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(248, 249, 250, 0.1), 0 4px 6px -2px rgba(248, 249, 250, 0.1) !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.glow-dark {
  -webkit-box-shadow: 0 10px 15px 2px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1) !important;
          box-shadow: 0 10px 15px 2px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1) !important;
}

.text-light {
  color: #f8f9fa;
}

.text-light a {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

* {
  border-image-slice: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #343a40;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  margin: 0;
}

a {
  text-decoration: none;
  color: #343a40;
}

a:hover {
  color: #96a0aa;
}

button,
input,
optgroup,
select,
textarea {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  display: block;
  padding: 12px;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  border: 1px solid #4a5568;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(10, 10, 10, 0.1);
          box-shadow: 0 4px 4px rgba(10, 10, 10, 0.1);
  outline: 0;
}

label {
  font-weight: 700;
  margin-bottom: 8px;
}

hr {
  width: 100%;
  margin: 12px 16px;
}

.flexwrap, .flexwrap-col, .flexwrap-nopad {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  width: 100%;
}

.flexwrap-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexwrap-nopad {
  padding: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
          box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
  overflow: hidden;
  position: relative;
}

.card-header {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 2px 4px rgba(52, 58, 64, 0.1);
          box-shadow: 0 2px 4px rgba(52, 58, 64, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.card-header-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 700;
  margin: 0;
  padding: 12px 16px;
}

.card-header-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 16px;
}

.card-header-right .badge, .card-header-right .badge-pill {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-media {
  display: block;
  position: relative;
}

.card-body {
  padding: 16px;
}

.card-body :first-child {
  margin-top: 0;
}

.card-body :last-child {
  margin-bottom: 0;
}

.card-footer {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-top: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-footer-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}

.list-group :first-child {
  border-top: 0;
}

.list-group-item {
  border-top: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-group-item .badge, .list-group-item .badge-pill {
  margin-left: auto;
  margin-top: -8px;
  margin-bottom: -8px;
}

.badge, .badge-pill {
  border-radius: 4px;
  background-color: #e9ecef;
  color: #343a40;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  vertical-align: baseline;
}

.badge-pill {
  border-radius: 16px;
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  vertical-align: top;
  white-space: nowrap;
}

.btn:hover {
  -webkit-box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
          box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

.btn-group .btn {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn-group-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-group-vertical .btn {
  display: block;
}

.btn-group-vertical :not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-group-vertical :not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.btn-group :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}

.nav, .nav-top {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 30;
  background-color: #fff;
}

.nav-brand, .nav-left, .nav-right, .nav-menu {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-top {
  -webkit-box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
          box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
  min-height: 61px;
  padding: 0 8px;
}

.nav-top .dropdown, .nav-top .dropdown-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.nav-top .dropdown-menu {
  position: absolute;
  top: 100%;
  min-width: 10rem;
}

.nav-brand {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 24px;
  font-weight: 700;
}

.nav-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.nav-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
}

.nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 12px 16px;
}

.nav-item .btn {
  padding: 8px 12px;
}

.nav-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.form {
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.form-group, .form-group-inline, .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 16px;
}

.form-group-inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group-inline label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px 8px 4px 0;
}

.form-control {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-control-range {
  display: block;
  overflow: visible;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-check {
  padding-left: 32px;
}

.form-check-label {
  display: inline-block;
}

.form-check-input {
  position: absolute;
  margin-top: 5px;
  margin-left: -16px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.mfixed-top {
  margin-top: 61px;
}

.dropdown.show .dropdown-menu, .show.dropdown-hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  -webkit-box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
          box-shadow: 0 10px 15px -3px rgba(52, 58, 64, 0.1), 0 4px 6px -2px rgba(52, 58, 64, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-item {
  display: block;
  white-space: nowrap;
  padding: 12px 16px;
  position: relative;
}

.dropdown-item:hover {
  background-color: #e9ecef;
  color: #343a40;
}

.dropdown-hover .dropdown-toggle:hover + .dropdown-menu {
  display: block !important;
}

.dropdown-hover .dropdown-menu:hover {
  display: block !important;
}
/*# sourceMappingURL=main.css.map */