@mixin alert-variant($parent, $color) {
    #{$parent} {
        @extend .alert;
        background-color: $color;
        border: 2px solid darken($color, 10%);
        color: darken($color, 40%);
        .alert-link {
            color: darken($color, 40%);
        }
        .alert-type {
            background-color: $color;
            .circle {
                background-color: darken($color, 10%);
            }
        }
    }
}
